package shared

templ NotFound() {
  <hgroup>
    <h2>404</h2>
    <small>Item does not exist.</small>
  </hgroup>
  <p>
    <a href="/">
      Return to home.
    </a>
  </p>
}

// templ ServerError() {
// 	@shared.Base() {
// 		<hgroup>
// 			<h2>502</h2>
// 			<small>Item does not exist.</small>
// 		</hgroup>
// 		<p>
// 			<a href="/">
// 				Return to home.
// 			</a>
// 		</p>
// 	}
// }
