package pages

import (
    "dusk"
    "dusk/ui/common"
    "dusk/ui/partials"
    "strconv"
)

templ AuthorList(authors dusk.Authors) {
    @common.Base() {
        <h1>Authors ({strconv.Itoa(len(authors))})</h1>
        <div>
          @partials.List(authors)
        </div>
    }
}
