package pages

import (
    "dusk"
    "dusk/ui/common"
    "dusk/ui/partials"
)

templ Index(books dusk.Books, err string) {
    @common.Base() {
        <div>
            @partials.Library(books, err)
        </div>
    }
}
