package pages

import (
    "dusk"
    "dusk/ui/common"
    "dusk/ui/partials"
)

templ Index(books dusk.Books) {
    @common.Base() {
        <hgroup>
            <h1>Library</h1>
            <h4>Books Read</h4>
        </hgroup>
        <div>
            @partials.Library(books)
        </div>
    }
}
