package views

templ calibreForm() {
	<form action="/import/calibre" method="POST">
		<div class="filedrop-container">
			<input id="calibre" type="file" webkitdirectory directory/>
			<small></small>
		</div>
		<button type="submit">Submit</button>
	</form>
}
