package views

import (
	"dusk"
	"dusk/ui/shared"
	"dusk/ui/partials"
)

templ TagPage(tag *dusk.Tag, books dusk.Books, errorMessage string) {
	@shared.Base() {
		<div class="tag__details">
			<div class="header">
				<h1>
					{ tag.Name }
				</h1>
			</div>
			@partials.Library(books, errorMessage)
		</div>
	}
}
