package views

import (
	"net/http"

	"github.com/kencx/dusk"
	"github.com/kencx/dusk/ui/partials"
)

type TagList struct {
	tags dusk.Tags
	BaseView
}

func NewTagList(bv BaseView, tags dusk.Tags, err error) *TagList {
	bv.err = err
	return &TagList{tags, bv}
}

func (v *TagList) Render(rw http.ResponseWriter, r *http.Request) {
	v.Html().Render(r.Context(), rw)
}

templ (v *TagList) Html() {
	@v.BaseView.Html() {
		<h2>Tags</h2>
		@partials.TagList(v.tags, v.err)
	}
}
