*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --button-back-color: transparent;
}

main {
  margin: auto;
  width: 100%;
  max-width: 60rem;
}

.body {
  padding: 4rem 2rem;
}

/* TOP BAR */

.topbar {
  display: flex;
  align-items: center;

	.right {
		margin-left: auto;
	}

	.icon-add-box {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='3' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='12' y1='8' x2='12' y2='16'%3E%3C/line%3E%3Cline x1='8' y1='12' x2='16' y2='12'%3E%3C/line%3E%3C/svg%3E");
	}

	/* dark mode */
	/* .icon-add-box { */
	/*   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fdfdfd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='3' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='12' y1='8' x2='12' y2='16'%3E%3C/line%3E%3Cline x1='8' y1='12' x2='16' y2='12'%3E%3C/line%3E%3C/svg%3E"); */
/* } */

	span[class^='icon-'] {
		height: 1.2em;
		width: 1.2em;
		vertical-align: -0.25em;
	}
}


/* FOOTER */
footer {
  text-align: end;
}

.icon-github {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22'%3E%3C/path%3E%3C/svg%3E");
}

/* LIBRARY CARD VIEW */

.library__card-view {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  justify-content: space-between;
}

.library__book-card {
  --max-library-width: 160px;
  display: flex;
  flex-direction: column;
  max-width: var(--max-library-width);
  /* max-height: 260px; */
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;

	a:hover, a:focus {
		text-decoration: none;
	}

	.cover {
		max-width: 180px;

		img {
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
	}

	.details {
		margin-top: 0.75rem;
		margin-bottom: 1.5rem;
	}

	.title {
		margin: 0;
		color: var(--fore-color);
	}

	.author {
		margin: 0;
		font-size: 0.75rem;
		color: var(--secondary-fore-color);
	}
}

.library__book-card:hover {
	transform: translateY(4px);

	img {
		transform: scale3d(1.02, 1.02, 1.02);
		opacity: 0.2;
	}
}

@media screen and (max-width: 768px) {
  .library__card-view {
    justify-content: center;
  }

  .library__book-card {
    --max-library-width: 100px;
  }
}

/* BOOK PAGE */

.book__details {
  --max-cover-width: 200px;
  display: grid;
  gap: 0 1.2rem;
  grid-template-columns: var(--max-cover-width) 1fr;
  grid-template-areas:
    "a b"
    "a c";
  margin-bottom: 1.2rem;

	.cover {
		grid-area: a;
		display: flex;
		align-items: start;
		justify-content: center;
		min-width: var(--max-cover-width);
		max-width: var(--max-cover-width);
	}

	.header {
		grid-area: b;

		h1 {
			min-height: 6rem;
			max-height: 8rem;
		}

		.author + .author::before {
			display: inline-block;
			white-space: pre;
			content: ", ";
		}
	}

	.author a {
		color: var(--fore-color);
	}

	.secondary {
		grid-area: c;
		margin: 0 var(--universal-margin);
	}

	.tags {
		color: var(--secondary-fore-color);
		font-size: 0.95rem;
		min-height: 4.5rem;
		max-height: 4.5rem;

		a {
			color: var(--secondary-fore-color);
			border-bottom: 0.2rem solid var(--pre-color);
		}

		a:focus, .tags a:hover {
			text-decoration: none;
		}
	}

	.tags > a + a {
		margin-left: 0.5rem;
	}

	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: var(--secondary-fore-color);

		span::before,
		span::after {
			content: " ";
			white-space: pre;
		}
	}


	.formats {
		padding: 1.2rem 0;
	}
}

.metadata {
  display: flex;
  gap: 2rem;

	.key, .value {
		font-size: 0.85rem;
		color: var(--secondary-fore-color);
	}
}

.notes {
  margin: 1.5rem 0;
}

@media screen and (max-width: 768px) {
  .book__details {
    display: block;
    margin-bottom: 0;

		.cover {
			margin: auto;
		}

		.header {
			text-align: center;

			h1 {
				max-height: none;
				min-height: none;
			}
		}

		.tags {
			text-align: center;
		}

		.footer {
			display: block;
			text-align: center;
		}
  }
}

/* IMPORT VIEW */

.import__tabs button {
  margin-bottom: 0;

	&.selected {
		font-weight: bold;
		border-bottom: 0.2rem solid var(--pre-color);
	}
}

.import__tabs {
	form {
		margin-top: 0;
	}

	.openlibrary-form {
		small {
			padding: calc(var(--universal-margin) / 2);
		}
	}

	.goodreads-form {
	  input {
			margin: var(--universal-margin);
			padding: calc(2 * var(--universal-padding)) var(--universal-padding);
			margin-bottom: 0;
		}

		button {
			margin-top: 0;
			margin-left: calc(2 * var(--universal-margin));
		}
	}

	/* reset mini.css rule */
	.goodreads-form .input-group.vertical > input {
		flex-basis: unset;
	}
}

.import__result_list {
  margin: 1.5rem 0;
}

.import__result {
  display: flex;
  justify-content: start;
  gap: 1.5rem;
  margin: var(--universal-margin);
  padding: calc(2 * var(--universal-padding)) var(--universal-padding);
  background: var(--form-back-color);
  color: var(--form-fore-color);
  border: 0.0625rem solid var(--form-border-color);
  border-radius: var(--universal-border-radius);
  text-align: left;

	img {
		--max-result-cover-width: 100px;
		max-width: var(--max-result-cover-width);
	}

	.details {
		padding: 1rem 0;
		min-width: 8rem;

		h3 {
			padding: 0;
			margin: 0;
		}
	}

	.description {
		padding: 1rem 1rem 1rem 0;
		font-size: 0.75rem;
	}
}

/* AUTHOR LIST VIEW */
.list__author-view ul {
  padding-left: 0;

	li {
		list-style: none;
	}
}
