package partials

templ Empty() {
	<div class="empty">
		<p>No items found!</p>
		<div>
			<form action="/import">
				<input type="submit" class="contrast" value="Add a book"/>
			</form>
		</div>
	</div>
}
