package partials

templ baseError(message string) {
	<p>{ message }</p>
}

templ DefaultError() {
	@baseError("An error occurred. Please check the logs for more information.")
}

templ ErrorFromString(message string) {
	@baseError(message)
}

templ Error(err error) {
	@baseError(err.Error())
}
