package partials

templ baseError(message string) {
	<div class="error">{ message }</div>
}

templ DefaultError() {
	@baseError("An unexpected error occurred, please try again later.")
}

templ ErrorFromString(message string) {
	@baseError(message)
}

templ Error(err error) {
	@baseError(err.Error())
}

templ HtmxError() {
	<div id="htmx-alert" class="error" hidden></div>
}
