package partials

import (
	"github.com/kencx/dusk/ui/partials/icons"
)

templ Footer(revision string) {
	<footer>
		<div class="container">
			{ revision } •
			Licensed by MIT •
			<a href="https://github.com/kencx/dusk">
				@icons.Github()
			</a>
		</div>
	</footer>
}
