package partials

import "dusk"

templ Library(books dusk.Books, err string) {
    <div class="library__card-view">

	if len(books) <= 0 {
		<p>{err}</p>
	} else {
		for _, book := range books {
			@bookCard(book)
		}
	}
    </div>
}
