package partials

templ ModalButton(attrs templ.Attributes) {
	<a
    role="button"
    hx-target="#modal-content" { attrs... }
  >
		{ children... }
	</a>
}

templ ModalDialog() {
	<dialog open>
		<article>
			{ children... }
		</article>
	</dialog>
}
