package partials

templ ModalButton(attrs templ.Attributes) {
	<button hx-target="#modal-content" { attrs... }>
		{ children... }
	</button>
}

templ ModalDialog() {
	<dialog open>
		<article>
			{ children... }
		</article>
	</dialog>
}
