package partials

templ Navbar() {
    <nav fx="">
        <label>
            <input type="checkbox"/>
            <header><a href="/">dusk</a></header>
            <ul>
                <li><a href="/authors">Authors</a></li>
                <li><a href="/import">Add</a></li>
                <li><a href="">Options</a></li>
            </ul>
        </label>
    </nav>
}
