:root {
  --icon-size: 1.75rem;
}

.container {
  max-width: 50rem !important;
}

.logo li :where(a):hover {
  text-decoration: none !important;
}

footer {
  font-size: 0.6rem;
  color: var(--pico-muted-color);
  text-align: end;
}

.error {
  padding: var(--pico-spacing);
  margin: 0;
  background: maroon;
  color: var(--pico-contrast);
  border: var(--pico-border-width) solid maroon;
  border-radius: var(--pico-border-radius);
}

.infinite-scroll {}

/* ICONS */

summary[role="button"].icon,
button.icon {
  margin: 0;
  padding: 0;
  width: var(--icon-size);
  height: var(--icon-size);
  background: none;
  border: none;
  text-align: center;

  &:hover {
    background: var(--pico-secondary-hover-background);
    box-shadow: var(--pico-button-hover-box-shadow)
  }
}

/* remove dropdown arrow */
summary[role="button"].icon::after {
  all: unset;
}

a.icon > svg,
button.icon > svg,
summary[role="button"].icon > svg {
  height: 1rem;
  width: 1rem;
}

details.dropdown:has(> summary[role="button"].icon) {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-bottom: 0;
}

/* LIBRARY CARD VIEW */

.search__metadata {
  margin-bottom: var(--pico-spacing);
  color: var(--pico-secondary);
}

.library__card-view {
  /* auto scaling grid with max num of columns and min width*/
  /* https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/ */
  --grid-layout-gap: 1.8rem;
  --grid-column-count: 6;
  --grid-item--min-width: 140px;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);

  .message {
    grid-column: 1/-1;
    text-align: center;
  }
}

.empty {
  width: 7.5rem;
  margin: auto;
  padding: 5rem 0;
  text-align: center;
}

.library__book-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;

  a:hover, a:focus {
    text-decoration: none;
  }

  .cover {
    aspect-ratio: 5/8;

    img {
      margin: auto;
      border-radius: 0.2rem;
      width: 0;
      height: 0;
      inset: 0;
      display: block;
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      max-height: 100%;
    }
  }

  .details {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
  }

  .title {
    margin: 0;
    color: var(--pico-color);
  }

  .author {
    margin: 0;
    font-size: 0.7rem;
    color: var(--pico-secondary);
    font-weight: normal;
  }
}

.library__book-card:hover {
  transform: translateY(4px);

  img {
    transform: scale3d(1.02, 1.02, 1.02);
    opacity: 0.2;
  }
}

@media screen and (max-width: 768px) {
  .library__card-view {
    justify-content: center;
  }

  .library__book-card {
    --max-library-width: 100px;
  }
}

/* BOOK PAGE */

.book__details {
  --max-cover-width: 232px;
  display: grid;
  grid-template-columns: var(--max-cover-width) 1fr;
  gap: 0 76px;
  margin: 0 1.2rem 1.2rem 1.2rem;

  .cover {
    /* sticky scrolling */
    position: sticky;
    align-self: start;
    top: 1rem;

    display: flex;
    align-items: start;
    justify-content: center;
    min-width: var(--max-cover-width);
    max-width: var(--max-cover-width);
  }

  .subtitle {
    color: var(--pico-muted-color);
  }

  .author {
    color: var(--pico-primary);
  }

  .author + .author::before {
    display: inline-block;
    white-space: pre;
    content: ", ";
  }

  .rating {
    display: inline-flex;
    gap: 0.25rem;
    margin-bottom: 1rem;
  }

  .tags {
    margin-bottom: 1rem;

    .tag a {
      font-size: 0.75rem;
      color: var(--pico-secondary);
      border-bottom: 0.01rem solid var(--pico-secondary-underline);
    }

    .tag + .tag::before {
      display: inline-block;
      white-space: pre;
      content: "  ";
    }
  }

  .desc-excerpt {
    width: max-content;
    min-width: 12rem;
    font-size: 0.65rem;

    & > summary span {
      font-style: italic;
      color: var(--pico-secondary);
    }

    &[open] summary span {
      display: none;
    }

    &[open] summary::before {
      font-style: italic;
      color: var(--pico-muted-color);
      content: "Collapse details..."
    }

    .desc {
      font-size: 0.65rem;
      margin-bottom: var(--pico-spacing);
    }
  }

  .metadata {
    display: flex;
    column-gap: 4rem;
    line-height: 1.25rem;

    .key, .value {
      font-size: 0.65rem;
      color: var(--pico-muted-color);
    }
  }

  .actions {
    display: inline-flex;
    gap: 0.5rem;
  }

}

.notes {
  margin: 1.5rem 0;
}

@media screen and (max-width: 768px) {
  .book__details {
    display: block;
    margin-bottom: 0;

    .cover {
      margin: auto;
      position: unset;
    }

    .header {
      text-align: center;
      margin-top: 1.2rem;
    }

    .tags {
      text-align: center;
    }

    .desc-excerpt {
      margin: var(--pico-spacing) auto;
    }

    .metadata {
      justify-content: center;
      column-gap: 2rem;

      .key {
        text-align: right;
      }

      .value {
        text-align: left;
      }
    }
  }
}

.tabs > button {
  margin-top: calc(0.5 * var(--pico-spacing));
  margin-bottom: calc(1.5 * var(--pico-spacing));
  color: var(--pico-muted-color);
  background-color: unset;
  border: none;
  border-radius: 0;
  border-bottom: 0.1rem solid var(--pico-muted-border-color);

  &.selected {
    font-weight: bold;
    color: var(--pico-color);
    border-bottom: 0.2rem solid var(--pico-contrast);
  }
}

.filedrop-container {
  width: 100%;
  display: inline-block;
  padding: calc(0.5 * var(--pico-spacing));
  margin-bottom: var(--pico-spacing);

  input[type="file"] {
    cursor: pointer;
  }

  small {
    padding-top: calc(0.5 * var(--pico-spacing));
    border-top: 0.1rem solid var(--pico-muted-border-color);
  }

  & + button[type="submit"] {
    width: 15% !important;
  }
}

.search__result {
  display: flex;
  gap: 0.125rem;
  align-items: center;
  padding: calc(0.5*var(--pico-spacing));
  /* background: var(--form-back-color); */
  /* color: var(--form-fore-color); */
  border: 0.0625rem solid var(--pico-muted-border-color);
  text-align: left;
  width: 100%;

  .details {
    margin: calc(0.5*var(--pico-spacing));
    width: 100%;
    max-width: 70%;

    .author + .author::before {
      display: inline-block;
      white-space: pre;
      content: ", ";
    }
  }

  .details ul {
    padding: 0;
  }

  .details li {
    list-style: none;
    font-size: 0.75rem;
  }

  img, .cover {
    width: 100px;
  }

  &:hover {
    border: 0.0625rem solid var(--pico-muted-color);
    transition: var(--pico-transition);
  }

  .actions select {
    font-size: 0.8rem;
  }
}

.spinner {
    opacity:0;
    transition: opacity 500ms ease-in;
}

.htmx-request .spinner,
.htmx-request.spinner {
    opacity:1
}


.goodreads__result_list {
  margin-top: var(--pico-spacing);
}

.goodreads__result {
  /* padding: calc(0.5*var(--pico-spacing)); */
  /* border: 0.0625rem solid var(--pico-muted-border-color); */

  /* &:hover { */
  /*   border: 0.0625rem solid var(--pico-muted-color); */
  /*   transition: var(--pico-transition); */
  /* } */

  .author + .author::before {
    display: inline-block;
    white-space: pre;
    content: ", ";
  }
}

/* LIST VIEW */
.list {}

.list__metadata {
	margin-bottom: var(--pico-spacing);
	color: var(--pico-secondary);
}

.list__author-view ul {
  padding-left: 0;

  li {
    list-style: none;
  }
}

/* TOAST */
#toast-container:has(.toast) {
  font-size: 16px;
  max-width: 420px;
  width: 100%;

  z-index: 1;
  position: fixed;
  inset-block-end: 0;
  inset-inline-end: 0;
  padding-block-end: 0.75rem;
  padding-inline-end: 0.75rem;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;

  .toast {
    display: flex;
    padding: calc(0.65 * var(--pico-spacing));
    background: var(--pico-background-color);
    color: var(--pico-primary);
    border: var(--pico-border-width) solid var(--pico-primary-border);
    border-radius: var(--pico-border-radius);
    cursor: pointer;
    overflow: hidden;
    opacity: 100%;

    .toast-content {
      width: 100%;
      display: grid;
      grid-template-columns: 75% 25%;
      align-items: center;

      .toast-body * {
        margin-bottom: 0;
      }

      .toast-body > p:has(+ small) {
        font-weight: 800;
      }

      button:not(button[rel=prev]) {
        padding: 0.25rem 0.5rem;
        margin-left: auto;
        font-size: unset;
      }
    }

    &.error {
      background: maroon;
      color: var(--pico-contrast);
      border: var(--pico-border-width) solid maroon;
      opacity: 0.85;

      button:not(button[rel=prev]) {
        color: var(--pico-contrast);
        border-color: var(--pico-contrast-border);
      }
    }

    & :is(a, button)[rel=prev] {
      display: block;
      float: right;
      width: 1rem;
      height: 1rem;
      margin-left: auto;
      border: none;
      background-image: var(--pico-icon-close);
      background-position: center;
      background-size: auto 1rem;
      background-repeat: no-repeat;
      background-color: transparent;
      opacity: 0.5;
      transition: opacity var(--pico-transition);
    }

    & :is(a, button)[rel=prev]:is([aria-current]:not([aria-current=false]), :hover, :active, :focus) {
      opacity: 1;
    }
  }
}

.hide {
  will-change: transform;
  animation:
    fadeOut 3s ease 5s forwards,
    destroy 10s ease-in 1.5s forwards;
}

@keyframes fadeOut {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0; pointer-events: none;}
}

@keyframes destroy {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
