.container {
  max-width: 50rem !important;
}

.logo li :where(a):hover {
  text-decoration: none !important;
}

/* NAV BAR */
.icon-add-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='3' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='12' y1='8' x2='12' y2='16'%3E%3C/line%3E%3Cline x1='8' y1='12' x2='16' y2='12'%3E%3C/line%3E%3C/svg%3E");
}

/* dark mode */
/* .icon-add-box { */
/*   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fdfdfd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='3' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='12' y1='8' x2='12' y2='16'%3E%3C/line%3E%3Cline x1='8' y1='12' x2='16' y2='12'%3E%3C/line%3E%3C/svg%3E"); */
/* } */

/* span[class^='icon-'] { */
/*   height: 1.2em; */
/*   width: 1.2em; */
/*   vertical-align: -0.25em; */
/* } */


/* FOOTER */
footer {
  text-align: end;
}

.icon-github {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22'%3E%3C/path%3E%3C/svg%3E");
}

/* LIBRARY CARD VIEW */

.library__card-view {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  justify-content: start;
}

.library__empty {
	align-self: center;
	margin: auto;
	text-align: center;
	padding: 5rem 0;
}

.library__book-card {
  --max-library-width: 160px;
  display: flex;
  flex-direction: column;
  max-width: var(--max-library-width);
  /* max-height: 260px; */
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;

	a:hover, a:focus {
		text-decoration: none;
	}

	.cover {
		max-width: 180px;

		img {
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
	}

	.details {
		margin-top: 0.75rem;
		margin-bottom: 1.5rem;
	}

	.title {
		margin: 0;
		color: var(--pico-color);
	}

	.author {
		margin: 0;
		font-size: 0.75rem;
		color: var(--pico-secondary);
	}
}

.library__book-card:hover {
	transform: translateY(4px);

	img {
		transform: scale3d(1.02, 1.02, 1.02);
		opacity: 0.2;
	}
}

@media screen and (max-width: 768px) {
  .library__card-view {
    justify-content: center;
  }

  .library__book-card {
    --max-library-width: 100px;
  }
}

/* BOOK PAGE */

.book__details {
  --max-cover-width: 200px;
  display: grid;
  gap: 0 1.2rem;
  grid-template-columns: var(--max-cover-width) 1fr;
  grid-template-areas:
    "a b"
    "a c";
  margin-bottom: 1.2rem;

	.cover {
		grid-area: a;
		display: flex;
		align-items: start;
		justify-content: center;
		min-width: var(--max-cover-width);
		max-width: var(--max-cover-width);
	}

	.header {
		grid-area: b;

		h1 {
			min-height: 6rem;
			max-height: 8rem;
		}

		.author + .author::before {
			display: inline-block;
			white-space: pre;
			content: ", ";
		}
	}

	.author a {
		color: var(--fore-color);
	}

	.secondary {
		grid-area: c;
		margin: 0 var(--universal-margin);
	}

	.tags {
		color: var(--secondary-fore-color);
		font-size: 0.95rem;
		min-height: 4.5rem;
		max-height: 4.5rem;

		a {
			color: var(--secondary-fore-color);
			border-bottom: 0.2rem solid var(--pre-color);
		}

		a:focus, .tags a:hover {
			text-decoration: none;
		}
	}

	.tags > a + a {
		margin-left: 0.5rem;
	}

	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: var(--secondary-fore-color);

		span::before,
		span::after {
			content: " ";
			white-space: pre;
		}
	}


	.formats {
		padding: 1.2rem 0;
	}
}

.metadata {
  display: flex;
  gap: 2rem;

	.key, .value {
		font-size: 0.85rem;
		color: var(--secondary-fore-color);
	}
}

.notes {
  margin: 1.5rem 0;
}

@media screen and (max-width: 768px) {
  .book__details {
    display: block;
    margin-bottom: 0;

		.cover {
			margin: auto;
		}

		.header {
			text-align: center;

			h1 {
				max-height: none;
				min-height: none;
			}
		}

		.tags {
			text-align: center;
		}

		.footer {
			display: block;
			text-align: center;
		}
  }
}

.tabs > button {
  margin-top: calc(0.5 * var(--pico-spacing));
  margin-bottom: calc(1.5 * var(--pico-spacing));
  color: var(--pico-muted-color);
  background-color: unset;
  border: none;
  border-radius: 0;
  border-bottom: 0.1rem solid var(--pico-muted-border-color);

	&.selected {
		font-weight: bold;
    color: var(--pico-color);
		border-bottom: 0.2rem solid var(--pico-contrast);
	}
}

.import__result_list {
  margin: 1.5rem 0;

  form {
    all: unset;
  }
}

.import__result {
  display: flex;
  gap: 0.125rem;
  align-items: center;
  margin: var(--universal-margin);
  padding: var(--universal-padding);
  background: var(--form-back-color);
  color: var(--form-fore-color);
  border: 0.0625rem solid var(--form-border-color);
  border-radius: var(--universal-border-radius);
  text-align: left;
  width: 100%;

  .details {
    margin: var(--universal-margin);
    width: 100%;

		.author + .author::before {
			display: inline-block;
			white-space: pre;
			content: ", ";
		}
  }

  .details ul {
    padding: 0;
  }

  .details li {
    list-style: none;
    font-size: 0.75rem;
  }

	img, .cover {
    width: 80px;
	}
}

.spinner {
    opacity:0;
    transition: opacity 500ms ease-in;
}

.htmx-request .spinner,
.htmx-request.spinner {
    opacity:1
}


/* AUTHOR LIST VIEW */
.list__author-view ul {
  padding-left: 0;

	li {
		list-style: none;
	}
}

/* MODAL */

[type="checkbox"].modal + div .card {
	border-radius: var(--universal-border-radius);
	padding: var(--universal-padding);
}

[type="checkbox"].modal + div .card .modal-close {
	right: 0.5rem;
}

.modal__dialog .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal__dialog .confirm {
	text-align: center;
}
