:root {
  --icon-size: 1.75rem;
}

.container {
  max-width: 50rem !important;
}

.logo li :where(a):hover {
  text-decoration: none !important;
}

/* span[class^='icon-'] { */
/*   height: 1.2em; */
/*   width: 1.2em; */
/*   vertical-align: -0.25em; */
/* } */


footer {
  font-size: 0.6rem;
  color: var(--pico-muted-color);
  text-align: end;
}

/* ICONS */

summary[role="button"].icon,
button.icon {
  margin: 0;
  padding: 0;
  width: var(--icon-size);
  height: var(--icon-size);
  background: none;
  border: none;
  text-align: center;

  &:hover {
    background: var(--pico-secondary-hover-background);
    box-shadow: var(--pico-button-hover-box-shadow)
  }
}

/* remove dropdown arrow */
summary[role="button"].icon::after {
  all: unset;
}

a.icon > svg,
button.icon > svg,
summary[role="button"].icon > svg {
  height: 1rem;
  width: 1rem;
}

details.dropdown:has(> summary[role="button"].icon) {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-bottom: 0;
}

/* LIBRARY CARD VIEW */

.library__card-view {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  justify-content: start;
}

.library__empty {
	align-self: center;
	margin: auto;
	text-align: center;
	padding: 5rem 0;
}

.library__book-card {
  --max-library-width: 160px;
  display: flex;
  flex-direction: column;
  max-width: var(--max-library-width);
  /* max-height: 260px; */
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;

	a:hover, a:focus {
		text-decoration: none;
	}

	.cover {
		max-width: 180px;

		img {
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
	}

	.details {
		margin-top: 0.75rem;
		margin-bottom: 1.5rem;
	}

	.title {
		margin: 0;
		color: var(--pico-color);
	}

	.author {
		margin: 0;
		font-size: 0.75rem;
		color: var(--pico-secondary);
	}
}

.library__book-card:hover {
	transform: translateY(4px);

	img {
		transform: scale3d(1.02, 1.02, 1.02);
		opacity: 0.2;
	}
}

@media screen and (max-width: 768px) {
  .library__card-view {
    justify-content: center;
  }

  .library__book-card {
    --max-library-width: 100px;
  }
}

/* BOOK PAGE */

.book__details {
  --max-cover-width: 232px;
  display: grid;
  gap: 0 76px;
  grid-template-columns: var(--max-cover-width) 1fr;
  grid-template-areas:
    "a b"
    "a c";
  margin: 0 1.2rem 1.2rem 1.2rem;

	.cover {
		grid-area: a;
		display: flex;
		align-items: start;
		justify-content: center;
		min-width: var(--max-cover-width);
		max-width: var(--max-cover-width);
	}

	.header {
		grid-area: b;

    .subtitle {
      color: var(--pico-muted-color);
    }

    .author {
      color: var(--pico-primary);
    }

		.author + .author::before {
			display: inline-block;
			white-space: pre;
			content: ", ";
		}
	}

	.details {
		grid-area: c;
	}

  .rating {
    display: inline-flex;
    gap: 0.25rem;
    margin-bottom: 1rem;
  }

	.tags {
    margin-bottom: 1rem;

		.tag a {
      font-size: 0.75rem;
      color: var(--pico-secondary);
			border-bottom: 0.01rem solid var(--pico-secondary-underline);
		}

    .tag + .tag::before {
      display: inline-block;
      white-space: pre;
      content: "  ";
    }
	}

  .desc-excerpt {
    font-size: 0.65rem;

    & > summary span {
      font-style: italic;
      color: var(--pico-secondary);
    }

    &[open] summary span {
      display: none;
    }

    &[open] summary::before {
      font-style: italic;
      color: var(--pico-muted-color);
      content: "Collapse"
    }

    .desc {
      font-size: 0.65rem;
      margin-bottom: var(--pico-spacing);
    }
  }

  .metadata {
    display: flex;
    column-gap: 4rem;
    line-height: 1.25rem;

    .key, .value {
      font-size: 0.65rem;
      color: var(--pico-muted-color);
    }
  }

	.actions {
    display: inline-flex;
    gap: 0.5rem;
	}

}

.notes {
  margin: 1.5rem 0;
}

@media screen and (max-width: 768px) {
  .book__details {
    display: block;
    margin-bottom: 0;

		.cover {
			margin: auto;
		}

		.header {
			text-align: center;
      margin-top: 1.2rem;
		}

		.tags {
			text-align: center;
		}

    .metadata {
      justify-content: center;
      column-gap: 2rem;

      .key {
        text-align: right;
      }

      .value {
        text-align: left;
      }
    }

    .actions {}
  }
}

.tabs > button {
  margin-top: calc(0.5 * var(--pico-spacing));
  margin-bottom: calc(1.5 * var(--pico-spacing));
  color: var(--pico-muted-color);
  background-color: unset;
  border: none;
  border-radius: 0;
  border-bottom: 0.1rem solid var(--pico-muted-border-color);

	&.selected {
		font-weight: bold;
    color: var(--pico-color);
		border-bottom: 0.2rem solid var(--pico-contrast);
	}
}

.filedrop-container {
  width: 100%;
  display: inline-block;
  padding: calc(0.5 * var(--pico-spacing));
  margin-bottom: var(--pico-spacing);

  input[type="file"] {
    cursor: pointer;
  }

  small {
    padding-top: calc(0.5 * var(--pico-spacing));
    border-top: 0.1rem solid var(--pico-muted-border-color);
  }

  & + button[type="submit"] {
    width: 15% !important;
  }
}

.import__result {
  display: flex;
  gap: 0.125rem;
  align-items: center;
  padding: calc(0.5*var(--pico-spacing));
  /* background: var(--form-back-color); */
  /* color: var(--form-fore-color); */
  border: 0.0625rem solid var(--pico-muted-border-color);
  text-align: left;
  width: 100%;

  .details {
    margin: calc(0.5*var(--pico-spacing));
    width: 100%;
    max-width: 70%;

		.author + .author::before {
			display: inline-block;
			white-space: pre;
			content: ", ";
		}
  }

  .details ul {
    padding: 0;
  }

  .details li {
    list-style: none;
    font-size: 0.75rem;
  }

	img, .cover {
    width: 100px;
	}

  &:hover {
    border: 0.0625rem solid var(--pico-muted-color);
    transition: var(--pico-transition);
  }

  .actions select {
    font-size: 0.8rem;
  }
}

.spinner {
    opacity:0;
    transition: opacity 500ms ease-in;
}

.htmx-request .spinner,
.htmx-request.spinner {
    opacity:1
}

/* AUTHOR LIST VIEW */
.list__author-view ul {
  padding-left: 0;

	li {
		list-style: none;
	}
}

/* MODAL */

[type="checkbox"].modal + div .card {
	border-radius: var(--pico-spacing);
	padding: var(--pico-spacing);
}

[type="checkbox"].modal + div .card .modal-close {
	right: 0.5rem;
}

.modal__dialog .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal__dialog .confirm {
	text-align: center;
}
